<div *screenBelowLarge class="title-bar-small">
  <span class="fas fa-bars"
        (click)="menuService.toggleLeftSideMenu()">
  </span>
  <div class="small-image-holder">
    <img class="small-image" src="assets/logo.png">
    <!-- <h1 class="small-image-holder">Credenciamento</h1> -->
  </div>
  <span class="fas fa-ellipsis-v"></span>
</div>

<div *screenLarge class="title-bar">
  <img src="assets/logo.png" alt="Logo Credenciamento">
  <!-- <h1>Credenciamento</h1> -->
  <div class="menu-area">
    <fw-top-bar></fw-top-bar>
    <fw-menu *ngIf="!menuService.isVertical"></fw-menu>
  </div>
</div>