:host {
    display: block;
}


.mat-list-base .mat-list-item {
  background-color: lavender;
  border-radius: 8px;
  margin: 4px;
  box-shadow: #333;
  font-weight: bold;
}

.button-row button{
  margin-right: 8px;
  margin-bottom: 4px;
}